* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #000000;
}

.title {
  color: #ffa802;
  font-size: 4rem;
  font-family: sans-serif;
  text-align: center;
  line-height: 100vh;
}